body {
    margin: 0;
}

text {
    color: #02c600
}

.App {
    text-align: center;
    background: #000000;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 2px 2px;
    font-size: 16px;
    display: inline-block;
    font-family: monospace;
    color: green;
}

/* On mouse-over */
.btn:hover:enabled {background: green;
    color: black;
    cursor: pointer;
}
.btn:disabled
{
    color: dimgrey;
}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}
